<div class="layout" *ngIf="quiz">
  <aside class="left-side">
    <div class="floating-timer" id="timer">
      <app-timer [duration]="(quiz?.questions?.length ?? 0) * 60" (timeUp)="handleTimeUp()"></app-timer>
    </div>

  </aside>
  <main>
    <form id="exam-form">
      <section class="question" *ngFor="let question of quiz.questions; let i = index" [id]="'q' + i"
        [attr.data-question-index]="i" data-type="mcq">
        <app-question [question]="question" [questionIndex]="i"
          (optionSelected)="onOptionSelected($event)"></app-question>
      </section>
    </form>
  </main>

  <aside class="sidebar">
    <section>
      <div class="sidebar-section-title">Thông tin bài thi</div>
      <div class="exam-meta">
        <div><span class="label">Thời lượng:</span> {{ quiz.questions.length }} phút</div>
      </div>
    </section>

    <section>
      <div class="sidebar-section-title">Tiến độ</div>
      <div class="progress">
        <div class="progress-bar" [style.width.%]="progress"></div>
      </div>
      <div class="progress-text">{{ answeredQuestions }} / {{ quiz.questions.length }} câu đã trả lời</div>
    </section>

    <section class="list-button">
      <div class="sidebar-section-title">Danh sách câu hỏi</div>
      <div class="question-nav" id="question-nav">
        <button *ngFor="let question of quiz.questions; let i = index" type="button" [attr.data-target]="'q' + i"
          [class.active]="i === currentQuestionIndex" [class.answered]="isAnswered(i)"
          (click)="scrollToQuestion('q' + i)">
          {{ i + 1 }}
        </button>
      </div>
    </section>

    <div class="actions">
      <button class="btn-primary" type="button" id="btn-submit-side" (click)="submitQuiz()">
        ✅ Nộp bài
      </button>
    </div>
  </aside>
</div>