<div class="question-container">
  <div class="question-header">
    <p class="question-text">{{ questionIndex + 1 }}. {{ question.questionText }}</p>
    <div class="question-score">{{ question.score }} điểm</div>
  </div>
  <div class="options-container">
    @for (option of question.options; track $index) {
    <label class="option-label">
      <input type="radio" [name]="'question-' + questionIndex" [value]="option" (change)="onSelect(option)">
      <span class="option-letter">{{ getOptionLetter($index) }}.</span> {{ option }}
    </label>
    }
  <div class="question-actions">
    <button type="button" class="btn-mark-review" (click)="toggleMarkForReview()">
      {{ isMarkedForReview ? 'Bỏ đánh dấu' : 'Đánh dấu để xem lại' }}
    </button>
  </div>
  </div>
</div>
